{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}
{% endblock %}

{% block body %}
<section class="my-4">
    <h2>Latest Posts</h2>
</section>
<section>
    {% for post in posts %}
        {% include "components/post_card.html.twig" %}
    {% endfor %}
</section>
{% endblock %}
