{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} | Create Post
{% endblock %}

{% block body %}
<section class="g-form col-md-6">

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="card">
        <div class="card-header">
            <h3>Create Post</h1>
        </div>
        <div class="card-body">
        {{ form_start(createPost) }}

            <input type="submit" class="btn btn-primary" value="Create" />
        {{ form_end(createPost) }}
        </div>
</section>
{% endblock %}
